@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-image: 
    url(img/big-star_mobile.svg), 
    url(img/small-star.svg), 
    url(img/small_star_mobile.svg), 
    url(img/Star-top_mobile.svg), 
    url(img/Star-bottom_mobile.svg);
    background-repeat: no-repeat;
    background-position: 257px -90px, 28px 114px, 76px 80px, 320px 734px, 301px 712px;
  
    &__heading {
        width: 296px;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
    }

    &__description {
        width: 296px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    &__btn {
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        margin-top: 12px;
    }
  }

  .content {
    display: none;
  }

  .mini-game {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 39);
    width: auto;
    min-height: 3740px;
    color: white;
    padding-top: 48px;
    align-items: center;
    
    &__heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        margin-left: -120px;
        width: 250px;
        text-align: start;        
        padding-bottom: 48px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 24px;
        
    }

    &-box {
        max-width: 343px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 30px;
        min-width: 378px;
    }
    
    &__product {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 29.04px 29.04px 32.67px 29.04px;
    }

    &__img {
        display: none;
    }

    &__img-mobile {
        display: block;
    }    

    &__name {
        display: block;
        color: rgb(32, 32, 39);
        width: 284.93px;        
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;

        &_one {
            height: 39px;
        }
        &_two {
            height: 78px;
        }
        &_three {
            height: 117px;
        }
    }

    &__text {
        display: block;
        color: rgb(32, 32, 39);
        width: 285px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        &_one {
          height: 40px;  
        }

        &_two {
            height: 60px;
        }
    }

    &__btn {
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
    }
  }
  
} 