@media (min-width:375px) and (max-width:1024px){
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {    
    align-items: center;    
    background-image: 
    url(img/big_star_mobile.svg), 
    url(img/small-star.svg), 
    url(img/small_star_mobile.svg), 
    url(img/Star-top_mobile.svg), 
    url(img/Star-bottom_mobile.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 0px) 0px, calc(0% + 37px) 97px, calc(0% + 91px) 64px, calc(100% - 34px) 580px, calc(100% - 86px) 557px;
    
    &__title {              
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;
    }

    &__description {      
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    &__button {
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        margin-top: 12px;
    }
  }

  .line {
    background-color: rgb(188, 236, 48);
    max-width: 100%;
    overflow: hidden;
    height: 51px;

    &__text {
      padding-top: 16px;
    }
    &__text2 {
      font-size: 16px;
    }
    &__text-img {
      width: 19px;
      height: 19px;
      margin-left: 27px;
      margin-right: 27px;
    }
  }
  
  .content {
    display: none;
  }

  .mini-game {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 39);
    min-height: 3740px;
    color: white;    
    align-items: center;
    padding-bottom: 10px;
    
    &__heading {
        font-size: 40px;
        font-weight: 700;        
        padding-top: 48px;       
        padding-bottom: 48px;
    }

    &__box {        
        gap: 24px;       
    }

    &-box {       
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 30px;

        &_start {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    
    &__product {
        display: flex;
        flex-direction: column;
        display: flex;    
        box-sizing: border-box;  
        gap: 16px;
        width: 100%;        
        padding: 29px 29px 32px 29px;
        align-items: center;
    }

    &__img {
        width: 100%;
        border-radius: 30px;
    } 

    &__name {
        text-align: center;
        color: rgb(32, 32, 39);
        width: 100%;        
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;   
        white-space: pre-line;     
    }

    &__text {
        text-align: center;
        color: rgb(32, 32, 39);
        width: 100%;        
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;       
    }

    &__btn {
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
    }
  }

  .footer {    
    height: 100px;    
    
    &__title {        
        height: 20px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
  }  
} 