@media (min-width:375px) and (max-width:767px){

  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-image: 
    url(img/big-star_mobile.svg), 
    url(img/small-star.svg), 
    url(img/small_star_mobile.svg), 
    url(img/Star-top_mobile.svg), 
    url(img/Star-bottom_mobile.svg);
    background-repeat: no-repeat;
    background-position: 257px -90px, 28px 114px, 76px 80px, 320px 734px, 301px 712px;
  
    &__title {
        width: 296px;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
    }

    &__description {
        width: 296px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    &__button {
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        margin-top: 12px;
    }
  }

  .content {
    display: none;
  }

  .mini-game {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 39);
    width: auto;
    min-height: 3740px;
    color: white;    
    align-items: center;
    padding-bottom: 10px;
    
    &__heading {
        font-size: 40px;
        font-weight: 700;          
        padding-left: 50px;     
        padding-top: 48px;       
        padding-bottom: 48px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 24px;       
    }

    &-box {
        width: 343px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;

        &_start {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    
    &__product {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 343px;
        padding: 29px 29px 32px 29px;

    }

    &__img {
        width: 343px;
        border-radius: 30px;
    } 

    &__name {
        display: block;
        color: rgb(32, 32, 39);
        width: 285px;        
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;

        &_one {
            height: 39px;
        }
        &_two {
            height: 78px;
        }
        &_three {
            height: 117px;
        }
    }

    &__text {
        display: block;
        color: rgb(32, 32, 39);
        width: 285px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        &_one {
          height: 40px;  
        }

        &_two {
            height: 60px;
        }
    }

    &__btn {
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
    }
  }

  .footer {    
    height: 100px;

    &__title {
        width: 190px;
        height: 20px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
  }  
} 