@media (min-width:768px) and (max-width:1200px){

    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }   

    .content {
        display: none;
    }
}