* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.header {  
  height: 603px;  
  background: rgb(225, 255, 143);
  background-image: url(img/big_star.svg), url(img/Star_right.svg), url(img/Star_right-top.svg), url(img/Star_left_top.svg), url(img/star_left.svg);
  background-position: calc(100% - 0px), calc(0% + 63px) 94px, calc(0% + 156px) 69px, calc(100% - 344px) 568px, calc(100% - 455px) 538px;
  background-repeat: no-repeat;
  padding-top: 196px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
  }

  &__description {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 24px;
  }

  &__button {
    width: 247px;
    height: 66px;
    padding: 16px 28px 16px 28px;
    margin-top: 48px;
    box-sizing: border-box;
    border: none;    
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
    transition: 1.5s;
  }

  &__button:hover {
    background: #FFF;
    color: #000;
    cursor: pointer;
  }
}

.game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 32px;
  margin-top: 59px;
}

.content {
  background-color: rgb(32, 32, 39);  
  background-image: url(img/Star\ 12.svg), url(img/Star\ 11.svg), url(img/Star\ 12mini.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 10px) 150px, calc(0% + 25px) 770px, calc(0% + 40px) 820px;
  color: white;
  padding-top: 94px;

  &__title {    
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
  }

  &__description {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 24px;
  }
}

.content__link {
  text-decoration: none;
  display: inline-block;
  transform: scale(1);
}

.content__link:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.game-card__content1 {
  background-image: url(img/game-one.png);
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 30px;
  min-height: 404px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  margin: 10px 0px;
  padding: 32px 32px 36px 32px;
}

.game-card__number {
  border-radius: 52.58px;
  background-color: rgb(247, 247, 247);
  width: 108px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}

.game-card__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  width: 314px;
}

.game-card--type2 {
  margin-top: 11px;
  background-color: white;
  border-radius: 30px;
  min-width: 378px;
}

.game-card__content2 {
  background-image: url(img/game-two.png);
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background-color: rgb(255, 255, 255);
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 18px;
  padding: 32px 32px 36px 32px;
}

.game-card__content3 {
  background-image: url(img/game-three.png);
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 30px;
  min-height: 404px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  margin: 10px 0px;
  padding: 32px 32px 36px 32px;
}

.game-card__content4 {
  background-image: url(img/game-four.png);
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 14px;
  padding: 32px 32px 36px 32px;
  height: 490px;
  border-radius: 30px;
  max-width: 314px;
  width: 100%;
}

.game-card__content5 {
  background-image: url(img/game-five.png);
  max-width: 314px;  
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 30px;
  min-height: 455px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  margin: 10px 0px;
  padding: 32px 32px 36px 32px;
  margin-top: 33px;
}

.game-card__content6 {
  background-image: url(img/game-six.png);
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 14px;
  padding: 32px 32px 36px 32px;
  height: 490px;
  border-radius: 30px;
  max-width: 314px;
  width: 100%;
}

.mini-game { 
  position: relative; 
  background-color:#202027;
  padding-bottom: 144px;    

  &__heading {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    color: #FFFFFF;
    text-align: left;
    padding-top: 96px;
    padding-bottom: 72px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &-box {
    width: 100%;
    min-height: 500px;
    background-color: white;
    border-radius: 30px;    
    display: flex;
    flex-direction: row; 
    justify-content: space-between;   
  }

  &__product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    padding: 48px;
    gap: 24px;
  }

  &__img {
    width: 100%;;
    border-radius: 30px;
  }

  &__name {    
    color: rgb(32, 32, 39);
    width: 504px;        
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;    
    text-align: left;  
  }

  &__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    width: 500px;  
  }

  &__btn {
    width: 247px;
    height: 66px;
    border: none;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    font-family: inherit;
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    margin-top: 12px;
    transition: 1.5s;
    cursor: pointer;   
  }
  &__btn:hover {
    background: #FFF;
    color: #000;
    border: 0.5px solid #000;
  }    
}

.footer {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 150px;
  background: rgba(189, 237, 53, 1);  

  &__title {   
    height: 29px;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
  }
}

@import 'mobile';
