* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.top {
  height: 603px;
  background: rgb(225, 255, 143);
  background-image: url(img/big_star.svg), url(img/Star_right.svg), url(img/Star_right-top.svg), url(img/Star_left_top.svg), url(img/star_left.svg);
  background-position: 856px -334px, 1014px 568px, 948px 538px, 157px 69px, 62px 93px;
  background-repeat: no-repeat;
  padding-top: 196px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top__heading {
  width: 768px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}

.top__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.top__btn {
  width: 247px;
  height: 66px;
  padding: 16px 28px 16px 28px;
  margin-top: 48px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
}

.top__btn:hover {
  background: #FFF;
  color: #000;
}

.game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 32px;
  margin-top: 59px;
}

.content {
  background-color: rgb(32, 32, 39);
  width: auto;
  height: 1470px;
  color: white;
  padding-top: 94px;
}

.content__link {
  text-decoration: none;
  display: inline-block;
  transform: scale(1);
}

.content__link:hover {
  transform: scale(1.1);
}

.game-one {
  background-color: white;
  border-radius: 30px;
  min-width: 378px;
}

.game-one__product {
  background-image: url(img/game-one.png);
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 30px;
  min-height: 404px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  margin: 10px 0px;
  padding: 32px 32px 36px 32px;
}

.game__text {
  border-radius: 52.58px;
  background-color: rgb(247, 247, 247);
  width: 108px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}

.game__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  width: 314px;
}

.game-box__two {
  margin-top: 11px;
  background-color: white;
  border-radius: 30px;
  min-width: 378px;
}

.game-two__product {
  background-image: url(img/game-two.png);
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background-color: rgb(255, 255, 255);
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 18px;
  padding: 32px 32px 36px 32px;
}

.game-three__product {
  background-image: url(img/game-three.png);
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 30px;
  min-height: 404px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  margin: 10px 0px;
  padding: 32px 32px 36px 32px;
}

.game-four__product {
  background-image: url(img/game-four.png);
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 14px;
  padding: 32px 32px 36px 32px;
  height: 490px;
  border-radius: 30px;
  max-width: 314px;
  width: 100%;
}

.game-five__product {
  background-image: url(img/game-five.png);
  max-width: 314px;
  width: 100%;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 30px;
  min-height: 455px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  margin: 10px 0px;
  padding: 32px 32px 36px 32px;
  margin-top: 33px;
}

.game-six__product {
  background-image: url(img/game-six.png);
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 14px;
  padding: 32px 32px 36px 32px;
  height: 490px;
  border-radius: 30px;
  max-width: 314px;
  width: 100%;
}

@import 'mobile';